interactions:
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/json
    method: GET
    uri: https://www.facturapi.io/v1/invoices/INVOICE01
  response:
    body:
      string: '{"id":"INVOICE01","created_at":"2020-12-01T02:29:45.034Z","livemode":false,"verification_url":"https://verificacfdi.facturaelectronica.sat.gob.mx/default.aspx?id=768411cf-0edf-4d7f-bb9a-2b61f30c6886&re=AAA010101AAA&rr=VAUR631216M55&tt=84.000000&fe=zOOkgw==","status":"canceled","type":"I","cancellation_status":"accepted","customer":{"id":"CUSTOMER01","legal_name":"Remedios
        Varo","tax_id":"VAUR631216M55"},"total":84,"uuid":"768411cf-0edf-4d7f-bb9a-2b61f30c6886","use":"G01","folio_number":1,"payment_form":"04","payment_method":"PUE","currency":"MXN","exchange":1,"items":[{"quantity":2,"discount":0.1,"product":{"description":"Producto
        Test","product_key":"50202201","unit_key":"H87","unit_name":"Pieza","price":42.05,"tax_included":true,"taxes":[{"rate":0.16,"type":"IVA","withholding":false,"factor":"Tasa"}]},"parts":[{"quantity":1,"description":"Parte
        1","product_key":"50202201"}]}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"398-jdkHLDkZxoNPtvjUlctUu53hjFU"
      x-cloud-trace-context:
      - 216a23e996dcfa2e4cebb7f5b5af97f3/918811174288452419;o=1
      - 216a23e996dcfa2e4cebb7f5b5af97f3
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/json
    method: GET
    uri: https://www.facturapi.io/v1/customers/CUSTOMER01
  response:
    body:
      string: '{"address":{"country":"MEX"},"legal_name":"Remedios Varo","tax_id":"VAUR631216M55","email":"remedios@varo.com","organization":"ORG01","created_at":"2020-12-01T02:29:45.038Z","livemode":false,"id":"CUSTOMER01"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"f2-paFTDPcZnWIJr9nbaKF1VtMLPHw"
      x-cloud-trace-context:
      - b9455cd41a461628eb410c88f435ac80/14905909794483270180;o=1
      - b9455cd41a461628eb410c88f435ac80
    status:
      code: 200
      message: OK
version: 1
