interactions:
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/json
    method: GET
    uri: https://www.facturapi.io/v2/customers/63fe41cee87ce2001b18484a
  response:
    body:
      string: "{\"legal_name\":\"CORDELIA URUETA SIERRA\",\"tax_id\":\"UUSC9509162G7\",\"tax_system\":\"625\",\"email\":\"cordelia@urueta.com\",\"phone\":\"5511223344\",\"address\":{\"country\":\"MEX\",\"street\":\"Colima\",\"exterior\":\"196\",\"interior\":\"1\",\"neighborhood\":\"Roma\",\"zip\":\"06700\",\"city\":\"Ciudad
        de M\xE9xico\",\"municipality\":\"Cuauht\xE9moc\",\"state\":\"Ciudad de M\xE9xico\"},\"organization\":\"63fe3f1fe87ce2001b182417\",\"created_at\":\"2023-02-28T18:02:54.116Z\",\"livemode\":false,\"id\":\"63fe41cee87ce2001b18484a\"}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"1cf-VZLaRFdy+UnX7EiDxH82TH7MtBk"
      x-cloud-trace-context:
      - 2c5a8f20f3683608b4bf427912f7eb1a/11303442477038968149;o=1
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/json
    method: GET
    uri: https://www.facturapi.io/v2/customers/63fe41cee87ce2001b18484a
  response:
    body:
      string: "{\"legal_name\":\"CORDELIA URUETA SIERRA\",\"tax_id\":\"UUSC9509162G7\",\"tax_system\":\"625\",\"email\":\"remedios@pintora.com\",\"phone\":\"5511223344\",\"address\":{\"country\":\"MEX\",\"street\":\"Colima\",\"exterior\":\"196\",\"interior\":\"1\",\"neighborhood\":\"Roma\",\"zip\":\"06700\",\"city\":\"Ciudad
        de M\xE9xico\",\"municipality\":\"Cuauht\xE9moc\",\"state\":\"Ciudad de M\xE9xico\"},\"organization\":\"63fe3f1fe87ce2001b182417\",\"created_at\":\"2023-02-28T18:02:54.116Z\",\"livemode\":false,\"id\":\"63fe41cee87ce2001b18484a\"}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"1d0-qDpz0XsOhs01KBO2L/VBgP1ay4I"
      x-cloud-trace-context:
      - 27cd6847f663df46c27bdf599dd03eb4/13059218526521655702;o=1
    status:
      code: 200
      message: OK
version: 1
