interactions:
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/json
    method: GET
    uri: https://www.facturapi.io/v1/customers/CUSTOMER01
  response:
    body:
      string: '{"address":{"country":"MEX"},"legal_name":"Remedios Varo","tax_id":"VAUR631216M55","email":"remedios@varo.com","organization":"ORG01","created_at":"2020-12-01T02:29:45.038Z","livemode":false,"id":"CUSTOMER01"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"f2-paFTDPcZnWIJr9nbaKF1VtMLPHw"
      x-cloud-trace-context:
      - e8908454adc4c657b30943b9712c7c99/13278663659720378424;o=1
      - e8908454adc4c657b30943b9712c7c99;o=1
    status:
      code: 200
      message: OK
- request:
    body: '{"email": "remedios@pintora.com"}'
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/json
    method: PUT
    uri: https://www.facturapi.io/v1/customers/CUSTOMER01
  response:
    body:
      string: '{"address":{"country":"MEX"},"legal_name":"Remedios Varo","tax_id":"VAUR631216M55","email":"remedios@pintora.com","organization":"ORG01","created_at":"2020-12-01T02:29:45.038Z","livemode":false,"id":"CUSTOMER01"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"f5-wymkeSHArS22rtYp6agpwi0vWck"
      x-cloud-trace-context:
      - f5c8fb50aaf547537d9fb66150b3fcab/17075961993954133672;o=1
      - f5c8fb50aaf547537d9fb66150b3fcab
    status:
      code: 200
      message: OK
version: 1
