interactions:
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/json
    method: GET
    uri: https://www.facturapi.io/v1/customers?q=Remedios&limit=2
  response:
    body:
      string: '{"page":1,"total_pages":1,"total_results":1,"data":[{"address":{"country":"MEX"},"legal_name":"Remedios
        Varo","tax_id":"VAUR631216M55","email":"remedios@pintora.com","organization":"ORG01","created_at":"2020-12-01T02:29:45.038Z","livemode":false,"id":"CUSTOMER01"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"12b-pyaakw7TQ0k5WwRvBx+j93Sbc1Q"
      x-cloud-trace-context:
      - 0c8aecff182d02ffaf11e09ba4357dd5/15731210545172593028;o=1
      - 0c8aecff182d02ffaf11e09ba4357dd5
    status:
      code: 200
      message: OK
version: 1
