interactions:
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/json
    method: GET
    uri: https://www.facturapi.io/v1/customers/CUSTOMER01
  response:
    body:
      string: "{\"address\":{\"country\":\"MEX\",\"street\":\"Colima\",\"exterior\"\
        :\"196\",\"interior\":\"1\",\"neighborhood\":\"Roma\",\"zip\":\"06700\",\"\
        city\":\"Ciudad de M\xE9xico\",\"municipality\":\"Cuauht\xE9moc\",\"state\"\
        :\"Ciudad de M\xE9xico\"},\"legal_name\":\"Cordelia Urueta Sierra\",\"tax_id\"\
        :\"UUSC9509162G7\",\"email\":\"cordelia@urueta.com\",\"phone\":\"5511223344\"\
        ,\"organization\":\"ORG01\",\"created_at\":\"2020-12-01T19:38:44.706Z\"\
        ,\"livemode\":false,\"id\":\"CUSTOMER01\"}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"1bc-DxPNLbKCCFMkmG0yQyEPynJIoAg"
      x-cloud-trace-context:
      - 26c7808dc2ca567dfd225289ec75a9d4/4584306393235898998;o=1
      - 26c7808dc2ca567dfd225289ec75a9d4
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/json
    method: GET
    uri: https://www.facturapi.io/v1/customers/CUSTOMER01
  response:
    body:
      string: "{\"address\":{\"country\":\"MEX\",\"street\":\"Colima\",\"exterior\"\
        :\"196\",\"interior\":\"1\",\"neighborhood\":\"Roma\",\"zip\":\"06700\",\"\
        city\":\"Ciudad de M\xE9xico\",\"municipality\":\"Cuauht\xE9moc\",\"state\"\
        :\"Ciudad de M\xE9xico\"},\"legal_name\":\"Cordelia Urueta Sierra\",\"tax_id\"\
        :\"UUSC9509162G7\",\"email\":\"cordelia@urueta.com\",\"phone\":\"5511223344\"\
        ,\"organization\":\"ORG01\",\"created_at\":\"2020-12-01T19:38:44.706Z\"\
        ,\"livemode\":false,\"id\":\"CUSTOMER01\"}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"1bc-DxPNLbKCCFMkmG0yQyEPynJIoAg"
      x-cloud-trace-context:
      - e75f38a79026891088a2e9e5f650eda4/120020584420647573;o=1
      - e75f38a79026891088a2e9e5f650eda4
    status:
      code: 200
      message: OK
version: 1
