interactions:
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/json
    method: GET
    uri: https://www.facturapi.io/v2/invoices?q=Cordelia+Urueta+Sierra&limit=2
  response:
    body:
      string: '{"page":1,"total_pages":1,"total_results":0,"data":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"36-sBque3mw6XUlf8wOMIrE9P71BeM"
      x-cloud-trace-context:
      - 98063536705be0d3fdcd9ff93ab60090/16518400333813399425;o=1
      - 98063536705be0d3fdcd9ff93ab60090
    status:
      code: 200
      message: OK
version: 1
