interactions:
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/json
    method: DELETE
    uri: https://www.facturapi.io/v1/invoices/INVOICE01
  response:
    body:
      string: '{"id":"INVOICE01","created_at":"2020-12-01T02:29:45.034Z","livemode":false,"verification_url":"https://verificacfdi.facturaelectronica.sat.gob.mx/default.aspx?id=768411cf-0edf-4d7f-bb9a-2b61f30c6886&re=AAA010101AAA&rr=VAUR631216M55&tt=84.000000&fe=zOOkgw==","status":"valid","type":"I","cancellation_status":"pending","customer":{"id":"CUSTOMER01","legal_name":"Remedios
        Varo","tax_id":"VAUR631216M55"},"total":84,"uuid":"768411cf-0edf-4d7f-bb9a-2b61f30c6886","use":"G01","folio_number":1,"payment_form":"04","payment_method":"PUE","currency":"MXN","exchange":1,"items":[{"quantity":2,"discount":0.1,"product":{"description":"Producto
        Test","product_key":"50202201","unit_key":"H87","unit_name":"Pieza","price":42.05,"tax_included":true,"taxes":[{"rate":0.16,"type":"IVA","withholding":false,"factor":"Tasa"}]},"parts":[{"quantity":1,"description":"Parte
        1","product_key":"50202201"}]}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"394-5ky55dRlFipRJSaUAnRigoyfgd4"
      x-cloud-trace-context:
      - d3a0816a63525b409736a9e1ca84f675/3243578911431634875;o=1
      - d3a0816a63525b409736a9e1ca84f675;o=1
    status:
      code: 200
      message: OK
version: 1
