interactions:
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/json
    method: GET
    uri: https://www.facturapi.io/v1/customers?limit=1
  response:
    body:
      string: '{"page":1,"total_pages":2,"total_results":2,"data":[{"address":{"country":"MEX"},"legal_name":"Remedios
        Varo","tax_id":"VAUR631216M55","email":"remedios@pintora.com","organization":"ORG01","created_at":"2020-12-01T02:29:45.038Z","livemode":false,"id":"CUSTOMER01"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"12b-q8H3AwmSqVdPRU2Bc0PP766tKoE"
      x-cloud-trace-context:
      - a8bd6f051a72d16cb477c12fd4cec11f/7558657553299806692
      - a8bd6f051a72d16cb477c12fd4cec11f
    status:
      code: 200
      message: OK
version: 1
