interactions:
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/json
    method: GET
    uri: https://www.facturapi.io/v1/customers/CUSTOMER02
  response:
    body:
      string: '{"address":{"country":"MEX"},"legal_name":"Leonora Carrington","tax_id":"CAML9004069U0","email":"leonora@test.com","organization":"ORG01","created_at":"2020-12-03T00:11:50.796Z","livemode":false,"id":"CUSTOMER02"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"f6-awCHIt4yoF2VFeXIgBKwKR59DfY"
      x-cloud-trace-context:
      - 1d04be78d7c7a5c0d280d6261d2133d4/16152262709720526267;o=1
      - 1d04be78d7c7a5c0d280d6261d2133d4;o=1
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/json
    method: GET
    uri: https://www.facturapi.io/v1/customers/CUSTOMER02
  response:
    body:
      string: '{"address":{"country":"MEX"},"legal_name":"Leonora Carrington","tax_id":"CAML9004069U0","email":"remedios@pintora.com","organization":"ORG01","created_at":"2020-12-03T00:11:50.796Z","livemode":false,"id":"CUSTOMER02"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"fa-ZRXYr/xFiH7aaInFZyoTdmn7Hqs"
      x-cloud-trace-context:
      - 3bc8fdd6897f1a4c894aaf070d827b38/11351046589961489037;o=1
      - 3bc8fdd6897f1a4c894aaf070d827b38
    status:
      code: 200
      message: OK
version: 1
