interactions:
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/json
    method: GET
    uri: https://www.facturapi.io/v2/customers?q=Diego+Rivera&limit=1
  response:
    body:
      string: '{"page":1,"total_pages":1,"total_results":0,"data":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"36-sBque3mw6XUlf8wOMIrE9P71BeM"
      x-cloud-trace-context:
      - 9271f4ddc748bac72da705028fef714b/5762953846687511537;o=1
      - 9271f4ddc748bac72da705028fef714b
    status:
      code: 200
      message: OK
version: 1
