interactions:
- request:
    body: '{"legal_name": "Leonora Carrington", "tax_id": "CAML9004069U0", "email":
      "leonora@test.com"}'
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/json
    method: POST
    uri: https://www.facturapi.io/v1/customers
  response:
    body:
      string: '{"address":{"country":"MEX"},"legal_name":"Leonora Carrington","tax_id":"CAML9004069U0","email":"leonora@test.com","organization":"ORG01","created_at":"2020-12-03T00:11:50.796Z","livemode":false,"id":"CUSTOMER02"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"f6-awCHIt4yoF2VFeXIgBKwKR59DfY"
      x-cloud-trace-context:
      - efedff5440f979b67cff5ec6ecb4a75e/17881849224807608784;o=1
      - efedff5440f979b67cff5ec6ecb4a75e;o=1
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/json
    method: GET
    uri: https://www.facturapi.io/v1/customers/CUSTOMER02
  response:
    body:
      string: '{"address":{"country":"MEX"},"legal_name":"Leonora Carrington","tax_id":"CAML9004069U0","email":"leonora@test.com","organization":"ORG01","created_at":"2020-12-03T00:11:50.796Z","livemode":false,"id":"CUSTOMER02"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"f6-awCHIt4yoF2VFeXIgBKwKR59DfY"
      x-cloud-trace-context:
      - f3d0c1fad33bbafdba9f4d3132ed38f4/4663067686823768891;o=1
      - f3d0c1fad33bbafdba9f4d3132ed38f4
    status:
      code: 200
      message: OK
version: 1
