interactions:
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/json
    method: GET
    uri: https://www.facturapi.io/v1/invoices/INVOICE03
  response:
    body:
      string: '{"id":"INVOICE03","created_at":"2020-12-03T00:19:52.139Z","livemode":false,"verification_url":"https://verificacfdi.facturaelectronica.sat.gob.mx/default.aspx?id=9ca1bea3-b054-4f1f-9343-50e3531e1efa&re=AAA010101AAA&rr=VAUR631216M55&tt=42.050000&fe=8pa+Cw==","status":"valid","type":"I","cancellation_status":"none","customer":{"id":"CUSTOMER01","legal_name":"Remedios
        Varo","tax_id":"VAUR631216M55"},"total":42.05,"uuid":"9ca1bea3-b054-4f1f-9343-50e3531e1efa","use":"G01","folio_number":5,"payment_form":"04","payment_method":"PUE","currency":"MXN","exchange":1,"items":[{"quantity":1,"discount":0,"product":{"description":"Producto
        Test","product_key":"50202201","unit_key":"H87","unit_name":"Pieza","price":42.05,"tax_included":true,"taxes":[{"rate":0.16,"type":"IVA","withholding":false,"factor":"Tasa"}]}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"348-d/4qyCnPQ/5S8deonlfvO+AOOJU"
      x-cloud-trace-context:
      - 80091378206587d6b0bce14b695b19c1/16292089298168088707;o=1
      - 80091378206587d6b0bce14b695b19c1;o=1
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/json
    method: GET
    uri: https://www.facturapi.io/v1/invoices/INVOICE03
  response:
    body:
      string: '{"id":"INVOICE03","created_at":"2020-12-03T00:19:52.139Z","livemode":false,"verification_url":"https://verificacfdi.facturaelectronica.sat.gob.mx/default.aspx?id=9ca1bea3-b054-4f1f-9343-50e3531e1efa&re=AAA010101AAA&rr=VAUR631216M55&tt=42.050000&fe=8pa+Cw==","status":"canceled","type":"I","cancellation_status":"accepted","customer":{"id":"CUSTOMER01","legal_name":"Remedios
        Varo","tax_id":"VAUR631216M55"},"total":42.05,"uuid":"9ca1bea3-b054-4f1f-9343-50e3531e1efa","use":"G01","folio_number":5,"payment_form":"04","payment_method":"PUE","currency":"MXN","exchange":1,"items":[{"quantity":1,"discount":0,"product":{"description":"Producto
        Test","product_key":"50202201","unit_key":"H87","unit_name":"Pieza","price":42.05,"tax_included":true,"taxes":[{"rate":0.16,"type":"IVA","withholding":false,"factor":"Tasa"}]}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"34f-3wJ5GpqtoQ3uXmn/ZUF02skZsN8"
      x-cloud-trace-context:
      - 8a3bf63c2d7035abf88fe4dad0ecbe72/15960514803916258452
      - 8a3bf63c2d7035abf88fe4dad0ecbe72
    status:
      code: 200
      message: OK
version: 1
