interactions:
- request:
    body: '{"legal_name": "Cordelia Urueta Sierra", "tax_id": "UUSC9509162G7", "tax_system":
      "625", "email": "cordelia@urueta.com", "phone": "5511223344", "address": {"street":
      "Colima", "exterior": "196", "interior": "1", "neighborhood": "Roma", "zip":
      "06700", "city": "Ciudad de M\u00e9xico", "municipality": "Cuauht\u00e9moc",
      "state": "Ciudad de M\u00e9xico"}}'
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/json
    method: POST
    uri: https://www.facturapi.io/v2/customers
  response:
    body:
      string: "{\"legal_name\":\"CORDELIA URUETA SIERRA\",\"tax_id\":\"UUSC9509162G7\",\"tax_system\":\"625\",\"email\":\"cordelia@urueta.com\",\"phone\":\"5511223344\",\"address\":{\"country\":\"MEX\",\"street\":\"Colima\",\"exterior\":\"196\",\"interior\":\"1\",\"neighborhood\":\"Roma\",\"zip\":\"06700\",\"city\":\"Ciudad
        de M\xE9xico\",\"municipality\":\"Cuauht\xE9moc\",\"state\":\"Ciudad de M\xE9xico\"},\"organization\":\"63fe3f1fe87ce2001b182417\",\"created_at\":\"2023-02-28T18:02:54.116Z\",\"livemode\":false,\"id\":\"63fe41cee87ce2001b18484a\"}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"1cf-VZLaRFdy+UnX7EiDxH82TH7MtBk"
      x-cloud-trace-context:
      - ad782770d906f651e147deea696d88c2/4668085256986782600;o=1
    status:
      code: 201
      message: Created
version: 1
