interactions:
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/json
    method: GET
    uri: https://www.facturapi.io/v1/customers?limit=2
  response:
    body:
      string: "{\"page\":1,\"total_pages\":1,\"total_results\":2,\"data\":[{\"address\"\
        :{\"country\":\"MEX\"},\"legal_name\":\"Remedios Varo\",\"tax_id\":\"VAUR631216M55\"\
        ,\"email\":\"remedios@pintora.com\",\"organization\":\"ORG01\"\
        ,\"created_at\":\"2020-12-01T02:29:45.038Z\",\"livemode\":false,\"id\":\"\
        CUSTOMER01\"},{\"address\":{\"country\":\"MEX\",\"street\":\"\
        Colima\",\"exterior\":\"196\",\"interior\":\"1\",\"neighborhood\":\"Roma\"\
        ,\"zip\":\"06700\",\"city\":\"Ciudad de M\xE9xico\",\"municipality\":\"Cuauht\xE9\
        moc\",\"state\":\"Ciudad de M\xE9xico\"},\"legal_name\":\"Cordelia Urueta\
        \ Sierra\",\"tax_id\":\"UUSC9509162G7\",\"email\":\"cordelia@urueta.com\"\
        ,\"phone\":\"5511223344\",\"organization\":\"ORG01\",\"\
        created_at\":\"2020-12-01T19:38:44.706Z\",\"livemode\":false,\"id\":\"CUSTOMER02\"\
        }]}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"2e8-fr6e5l5obEK2SMGcXu72AtjwEow"
      x-cloud-trace-context:
      - 56485451cf132578136ad1c901fe520a/4804362171382630357;o=1
      - 56485451cf132578136ad1c901fe520a
    status:
      code: 200
      message: OK
version: 1
