interactions:
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/json
    method: GET
    uri: https://www.facturapi.io/v2/invoices?limit=1
  response:
    body:
      string: '{"page":1,"total_pages":2,"total_results":2,"data":[{"id":"INVOICE01","created_at":"2020-12-01T23:28:07.891Z","livemode":false,"verification_url":"https://verificacfdi.facturaelectronica.sat.gob.mx/default.aspx?id=75951994-d200-4b52-a4cb-35d8ab574f04&re=AAA010101AAA&rr=VAUR631216M55&tt=84.000000&fe=Rz/D7A==","status":"valid","type":"I","cancellation_status":"none","customer":{"id":"CUSTOMER01","legal_name":"Remedios
        Varo","tax_id":"VAUR631216M55"},"total":84,"uuid":"75951994-d200-4b52-a4cb-35d8ab574f04","use":"G01","folio_number":2,"payment_form":"04","payment_method":"PUE","currency":"MXN","exchange":1,"items":[{"quantity":2,"discount":0.1,"product":{"description":"Producto
        Test","product_key":"50202201","unit_key":"H87","unit_name":"Pieza","price":42.05,"tax_included":true,"taxes":[{"rate":0.16,"type":"IVA","withholding":false,"factor":"Tasa"}]},"parts":[{"quantity":1,"description":"Parte
        1","product_key":"50202201"}]}]}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"3c7-tuVSih1aqh+q3dezCPkNm4XqHtc"
      x-cloud-trace-context:
      - 99a42d116f439a501aafa126a7a8dc84/8071628629833599909;o=1
      - 99a42d116f439a501aafa126a7a8dc84
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/json
    method: GET
    uri: https://www.facturapi.io/v2/invoices?limit=1&page=2
  response:
    body:
      string: '{"page":2,"total_pages":2,"total_results":2,"data":[{"id":"INVOICE02","created_at":"2020-12-01T02:29:45.034Z","livemode":false,"verification_url":"https://verificacfdi.facturaelectronica.sat.gob.mx/default.aspx?id=768411cf-0edf-4d7f-bb9a-2b61f30c6886&re=AAA010101AAA&[...]
