interactions:
- request:
    body: '{"legal_name": "Leonora Carrington", "tax_id": "CAML9004069U0", "tax_system":
      "625", "email": "leonora@test.com", "address": {"street": "Colima", "exterior":
      "196", "interior": "1", "neighborhood": "Roma", "zip": "06700", "city": "Ciudad
      de M\u00e9xico", "municipality": "Cuauht\u00e9moc", "state": "Ciudad de M\u00e9xico"}}'
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/json
    method: POST
    uri: https://www.facturapi.io/v2/customers
  response:
    body:
      string: "{\"legal_name\":\"LEONORA CARRINGTON\",\"tax_id\":\"CAML9004069U0\",\"tax_system\":\"625\",\"email\":\"leonora@test.com\",\"address\":{\"country\":\"MEX\",\"street\":\"Colima\",\"exterior\":\"196\",\"interior\":\"1\",\"neighborhood\":\"Roma\",\"zip\":\"06700\",\"city\":\"Ciudad
        de M\xE9xico\",\"municipality\":\"Cuauht\xE9moc\",\"state\":\"Ciudad de M\xE9xico\"},\"organization\":\"63fe3f1fe87ce2001b182417\",\"created_at\":\"2023-02-28T18:04:17.385Z\",\"livemode\":false,\"id\":\"63fe4221e87ce2001b184c4b\"}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"1b3-n0UiagSVRo8dPXxAGraYHtxhYVE"
      x-cloud-trace-context:
      - 52f967f3dcd67c7e7e0a3535dc5420c8/12472986973682741669
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/json
    method: GET
    uri: https://www.facturapi.io/v2/customers/63fe4221e87ce2001b184c4b
  response:
    body:
      string: "{\"legal_name\":\"LEONORA CARRINGTON\",\"tax_id\":\"CAML9004069U0\",\"tax_system\":\"625\",\"email\":\"leonora@test.com\",\"address\":{\"country\":\"MEX\",\"street\":\"Colima\",\"exterior\":\"196\",\"interior\":\"1\",\"neighborhood\":\"Roma\",\"zip\":\"06700\",\"city\":\"Ciudad
        de M\xE9xico\",\"municipality\":\"Cuauht\xE9moc\",\"state\":\"Ciudad de M\xE9xico\"},\"organization\":\"63fe3f1fe87ce2001b182417\",\"created_at\":\"2023-02-28T18:04:17.385Z\",\"livemode\":false,\"id\":\"63fe4221e87ce2001b184c4b\"}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"1b3-n0UiagSVRo8dPXxAGraYHtxhYVE"
      x-cloud-trace-context:
      - dc6a5e7d592342df0c701f67f7fcbcbb/11459353506517267557;o=1
    status:
      code: 200
      message: OK
version: 1
