interactions:
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/json
    method: GET
    uri: https://www.facturapi.io/v1/customers?q=Diego+Rivera&limit=2
  response:
    body:
      string: '{"page":1,"total_pages":1,"total_results":0,"data":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"36-sBque3mw6XUlf8wOMIrE9P71BeM"
      x-cloud-trace-context:
      - 06c8a083b81d0e260a1b5499f82ab70a/15428923585083628246
      - 06c8a083b81d0e260a1b5499f82ab70a
    status:
      code: 200
      message: OK
version: 1
