interactions:
- request:
    body: '{"legal_name": "Cordelia Urueta Sierra", "tax_id": "UUSC9509162G7", "email":
      "cordelia@urueta.com", "phone": "5511223344", "address": {"street": "Colima",
      "exterior": "196", "interior": "1", "neighborhood": "Roma", "zip": "06700",
      "city": "Ciudad de M\u00e9xico", "municipality": "Cuauht\u00e9moc", "state":
      "Ciudad de M\u00e9xico", "country": "M\u00e9xico"}}'
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/json
    method: POST
    uri: https://www.facturapi.io/v1/customers
  response:
    body:
      string: "{\"address\":{\"country\":\"MEX\",\"street\":\"Colima\",\"exterior\"\
        :\"196\",\"interior\":\"1\",\"neighborhood\":\"Roma\",\"zip\":\"06700\",\"\
        city\":\"Ciudad de M\xE9xico\",\"municipality\":\"Cuauht\xE9moc\",\"state\"\
        :\"Ciudad de M\xE9xico\"},\"legal_name\":\"Cordelia Urueta Sierra\",\"tax_id\"\
        :\"UUSC9509162G7\",\"email\":\"cordelia@urueta.com\",\"phone\":\"5511223344\"\
        ,\"organization\":\"ORG01\",\"created_at\":\"2020-12-01T19:38:44.706Z\"\
        ,\"livemode\":false,\"id\":\"CUSTOMER01\"}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"1bc-DxPNLbKCCFMkmG0yQyEPynJIoAg"
      x-cloud-trace-context:
      - 6f50850607b84f0e294171754ee4e564/2352933157744171623;o=1
      - 6f50850607b84f0e294171754ee4e564
    status:
      code: 201
      message: Created
version: 1
